/* src/components/Navbar.css */

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Varsayılan marginleri sıfırla */
  display: flex;
  justify-content: center; /* Menü öğelerini merkeze hizala */
}

.navbar ul li {
  margin-right: 10px;
}

.navbar ul li:last-child {
  margin-right: 0; /* Son öğenin sağ boşluğunu kaldır */
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.navbar-content {
  text-align: center;
  margin-top: 20px;
}

.navbar-content h2 {
  color: white;
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.search-button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #555;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #777;
}
